
<html>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <head>
        <!-- 编码格式 -->
        <meta charset="UTF-8">
        <!-- 网页标题 -->
        <title>Weibo Spammer</title>
    </head>
    <body>
        <h1> Weibo Spammer Search </h1>
        <form method="post" action="/">
            <input type="text" name="nickname" id="nickname" placeholder="宋佳"/>
            <input type="submit" value="Search" onclick="" />
        <div>
            {{ ret }}
        </div>
    </body>
</html>
