<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta charset="UTF-8">
	<title>搜索一下，你就知道</title>
	<link rel="shortcut icon" href="images/weibo.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/style.css" type="text/css" />
</head>

<body class="skin skin-dark skin-2017gk">

	<div id="main">
		<section id="bd_logo" class="anime">
			<a href="http://www.weibo.com/" class="skin-logo pngfix" data-linkid="logo" title="Sina Weibo Spam" target="_blank"></a>
		</section>
		<section id="bd_search">
			<form method="post" action="/">
				<fieldset id="input-container" class="">
					<div id="suggest-align" class="skin-search-input">
						<input type="text" name="nickname" placeholder="1213239282" class="placeholder" id="input" suggestwidth="528px" autocomplete="off">
					</div>
					<input type="submit" id="search-button" class="skin-search-button" value="搜一下">
				</fieldset>
			</form>
			<div>
				{{ ret }}
			</div>
		</section>
	</div>

	<footer id="footer" class="skin-text skin-text-foot">
		<p>©2017 Weibo.com&nbsp;&nbsp;XJTU旗下搜索服务&nbsp;&nbsp;</p>
	</footer>

</body>

</html>